#main-title {
    background-color: #152b39;
    color: white;
}

.content-header {
    background-color: #e5e6e7;
    padding: 0em 1em;
    font-size: 20px;
    line-height: 41px;
}

#desc {
    background-color: #f1f2f3;
}

#desc > article {
    padding: 30px;
}

#desc > article:first {
    height: auto;
}

#left-title h3 {
    margin-top: 0px;
}

footer > h3 {}

.grey-out {
    opacity: 0.5;
}

#title {
    font-size: 1.4rem;
    line-height: 1rem;
    font-family: 'Source Sans Pro';
    margin-top: 1rem;
}

aside header {
    height: 41px;
}

aside h3 {
    margin-top: 0px;
}

p {
    margin-top: 0px;
}

iframe {
    border: none;
}

.heading {
    margin-bottom: 0.618em;
}

.heading.-large,
h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.heading.-medium,
h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

.heading.-small,
h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 13.33333px;
}

.heading.-smallest {
    font-size: 10px;
    font-weight: bold;
}

header > h2 {
    text-align: center;
}

body {
    color: #333;
    background-color: #152b39;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

header {
    height: 50px;
    background: #152b39;
}

footer {
    height: 50px;
    background: #152b39;
}

.app {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.app > aside {
    -webkit-flex: 0 0 33%;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    overflow: auto;
}

.preview {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.preview > iframe {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.code {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.code > article {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.code > article > section {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


#desc > article {
    overflow: auto;
    display: block;
}

#desc > header {
    flex: 0 0 41px;
}

.code > article > section > .CodeMirror {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    /* Safari/Chrome, other WebKit */
    /* Firefox, other Gecko */
    
    height: 0;
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.code > textarea {}

article {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

article > .app {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
