.spinner {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  top: 40%;
  transform: translateY(-40%);
  width: 84px;
  height: 84px;
  position: relative;
}

.cube1, .cube2 {
  background-color: #fff;
  width: 30px;
  height: 30px;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: cubemove 1.8s infinite ease-in-out;
  animation: cubemove 1.8s infinite ease-in-out;
}

.cube2 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}

@-webkit-keyframes cubemove {
  25% { -webkit-transform: translateX(84px) rotate(-90deg) scale(0.5) }
  50% { -webkit-transform: translateX(84px) translateY(84px) rotate(-180deg) }
  75% { -webkit-transform: translateX(0px) translateY(84px) rotate(-270deg) scale(0.5) }
  100% { -webkit-transform: rotate(-360deg) }
}

@keyframes cubemove {
  25% { 
    transform: translateX(84px) rotate(-90deg) scale(0.5);
    -webkit-transform: translateX(84px) rotate(-90deg) scale(0.5);
  } 50% { 
    transform: translateX(84px) translateY(84px) rotate(-179deg);
    -webkit-transform: translateX(84px) translateY(84px) rotate(-179deg);
  } 50.1% { 
    transform: translateX(84px) translateY(84px) rotate(-180deg);
    -webkit-transform: translateX(84px) translateY(84px) rotate(-180deg);
  } 75% { 
    transform: translateX(0px) translateY(84px) rotate(-270deg) scale(0.5);
    -webkit-transform: translateX(0px) translateY(84px) rotate(-270deg) scale(0.5);
  } 100% { 
    transform: rotate(-360deg);
    -webkit-transform: rotate(-360deg);
  }
}
#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 1;
   background-color: #2980b9;
   z-index: 99;
   text-align: center;
}

p {
    margin-bottom: 1em;
}

iframe {
  border: none;
}

.code > header {
  height: calc(1.5rem + .5em)
}

ul.tabs {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ul.tabs > li {
  float: left;
  margin: 0 .25em 0 0;
  padding: .25em .5em;
  background-color: #5f6467;
}

ul.tabs > li.active {
  background-color: #263238;
}

ul.tabs > li > a {
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.heading {
    margin-bottom: 0.618em;
}

.heading.-large,
h1 {
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
}

.heading.-medium,
h2 {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
}

.heading.-small,
h3 {
    font-size: 12px;
    font-weight: bold;
    line-height: 13.33333px;
}

.heading.-smallest {
    font-size: 10px;
    font-weight: bold;
}

header > h3 {
  text-align: center;
}

body {
    color: #333;
    background-color: #eee;
}

html,
body {
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

header {
    height: 50px;
    background: #eeeeee;
}

footer {
    height: 50px;
    background: #eeeeee;
}

.app {
    padding: 10px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-align-items: stretch;
    -ms-flex-align: stretch;
    align-items: stretch;
}

.app > aside {
    -webkit-flex: 0 0 33%;
    -ms-flex: 0 0 33%;
    flex: 0 0 33%;
    overflow: auto;
}

.preview {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.preview > iframe {
    -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
}

.code {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
.code > article {
  -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

.code > article > section{
  -webkit-flex: 1;
        -ms-flex: 1;
            flex: 1;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}


.code > article > section > .CodeMirror {
    -webkit-flex: 2;
    -ms-flex: 2;
    flex: 2;
    /* Safari/Chrome, other WebKit */
    /* Firefox, other Gecko */
    height: 0;
    box-sizing: border-box;
    /* Opera/IE 8+ */
}

.code > textarea {}

article {
    height: 100%;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}

article > .app {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari 5, and Chrome.
 */

h1 {
    font-size: 2em;
    margin: 0.67em 0;
}
/**
 * Address styling not present in IE 8/9, Safari 5, and Chrome.
 */

abbr[title] {
    border-bottom: 1px dotted;
}
/**
 * Address style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */

b,
strong {
    font-weight: bold;
}
/**
 * Address styling not present in Safari 5 and Chrome.
 */

dfn {
    font-style: italic;
}
/**
 * Address differences between Firefox and other browsers.
 */

hr {
    box-sizing: content-box;
    height: 0;
}
/**
 * Address styling not present in IE 8/9.
 */

mark {
    background: #ff0;
    color: #000;
}
/**
 * Correct font family set oddly in Safari 5 and Chrome.
 */

code,
kbd,
pre,
samp {
    font-family: monospace, serif;
    font-size: 1em;
}
/**
 * Improve readability of pre-formatted text in all browsers.
 */

pre {
    white-space: pre-wrap;
}
/**
 * Set consistent quote types.
 */

q {
    quotes: "\201C" "\201D" "\2018" "\2019";
}
/**
 * Address inconsistent and variable font size in all browsers.
 */

small {
    font-size: 80%;
}
/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}

sup {
    top: -0.5em;
}

sub {
    bottom: -0.25em;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9.
 */

img {
    border: 0;
}
/**
 * Correct overflow displayed oddly in IE 9.
 */

svg:not(:root) {
    overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari 5.
 */

figure {
    margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct `color` not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */

legend {
    border: 0;
    /* 1 */
    
    padding: 0;
    /* 2 */
}
/**
 * 1. Correct font family not being inherited in all browsers.
 * 2. Correct font size not being inherited in all browsers.
 * 3. Address margins set differently in Firefox 4+, Safari 5, and Chrome.
 */

button,
input,
select,
textarea {
    font-family: inherit;
    /* 1 */
    
    font-size: 100%;
    /* 2 */
    
    margin: 0;
    /* 3 */
}
/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}
/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 8+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}
/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    /* 2 */
    
    cursor: pointer;
    /* 3 */
}
/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}
/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box;
    /* 1 */
    
    padding: 0;
    /* 2 */
}
/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield;
    /* 1 */
    /* 2 */
    
    box-sizing: content-box;
}
/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}
/**
 * Remove inner padding and border in Firefox 4+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
/**
 * 1. Remove default vertical scrollbar in IE 8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto;
    /* 1 */
    
    vertical-align: top;
    /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*! Typebase.less v0.1.0 | MIT License */
/* Setup */

html {
    /* Change default typefaces here */
    
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 100%;
    color: #222;
    -webkit-font-smoothing: antialiased;
}
/* Links */

a {
    color: #5E9EE4;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
/* Copy & Lists */

p {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

ul li,
ol li {
    line-height: 1.5rem;
}

ul ul,
ol ul,
ul ol,
ol ol {
    margin-top: 0;
    margin-bottom: 0;
}

blockquote {
    line-height: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    /* Change heading typefaces here */
    
    margin-top: 1.5rem;
    margin-bottom: 0;
    line-height: 1.5rem;
}

h1 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    font-family: 'Cantata One', serif;
    font-weight: 400;
}

h2 {
    font-size: 2.4rem;
    line-height: 3rem;
    margin-top: 1.5rem;
    font-family: 'Cantata One', serif;
    font-weight: 400;
}

h3 {
    font-size: 1rem;
}

h4 {
    font-size: 0.6rem;
}

h5 {
    font-size: 0.39999999999999997rem;
}

h6 {
    font-size: 0.3rem;
}
/* Code blocks */

code {
    vertical-align: bottom;
}
/* Leading paragraph text */

.lead {
    font-size: 1.2rem;
}
/* Hug a the block above you */

.hug {
    margin-top: 0;
}
